<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088700138064-qqo0bvb1vlsdb46oa94i9b2lsmc7ud88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088700138064-qqo0bvb1vlsdb46oa94i9b2lsmc7ud88</string>
	<key>API_KEY</key>
	<string>AIzaSyB2P4FrvWH_TpCxUHHKnXYsdt2KSv_n1HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1088700138064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>e.kinda</string>
	<key>PROJECT_ID</key>
	<string>kinda-b188d</string>
	<key>STORAGE_BUCKET</key>
	<string>kinda-b188d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088700138064:ios:b1e3958caa145670710755</string>
</dict>
</plist>